
/* General
	--------------------------------------------- */
.carousel-navigation .swiper-button-disabled {
	opacity: 0.5;
}
.carousel-navigation .swiper-button-disabled img {
    cursor:default
}
.carousel-navigation img {
    cursor: pointer;
}


/* Split carousel
	--------------------------------------------- */

.swiper-carousel.split-carousel {
	position: relative;
	/* padding-bottom: 70px; */
}

.swiper-carousel.split-carousel .navigation-wrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 2;
	width: 50vw;
	margin-bottom: 30px;
}

.swiper-carousel.split-carousel .navigation-wrapper .carousel-navigation-inner img {
	width: 60px;
	height: 60px;
}

.swiper-carousel.split-carousel .navigation-wrapper .split-swiper-pagination {
	text-align: right;
	margin-right: 16vw;
	width: auto;
	margin-top: 20px;
	float: right;
}

.swiper-carousel.split-carousel .navigation-wrapper .split-swiper-pagination .swiper-pagination-bullet {
	background-color: #000;
	opacity: 1;
	margin-left: 2px;
	margin-right: 2px;
}

.swiper-carousel.split-carousel .navigation-wrapper .split-swiper-pagination .swiper-pagination-bullet-active {
	background-color: #3b82f6;
}

.swiper-split .swiper-slide {
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-split .swiper-slide > * {
	flex: 3 1 0;
	width: 50%;
}

.swiper-split .swiper-slide-content {
	flex-direction: column;
	padding-top: 30px;
	margin-bottom: 120px;
	padding-right: 5%;
}
.swiper-split .swiper-slide-content > * {
	max-width: 700px;
}
@media screen and (max-width: 767px) {

	.swiper-carousel.split-carousel {
		position: relative;
		/* padding-bottom: 70px; */
	}
	.swiper-split .swiper-slide {
		flex-direction: column;
	}
	.swiper-split .swiper-slide-content {
		margin-bottom: 40px;
	}
	.swiper-carousel.split-carousel .navigation-wrapper {
		width: 100%;
		position: relative;
		display: flex;
		justify-content: center;
		padding-bottom: 40px;
	}
	.swiper-carousel.split-carousel .split-swiper-pagination {
		display: none;
	}
	.swiper-split .swiper-slide > * {
		text-align: center;
		width: 100%;
	}
	.swiper-split .swiper-slide-content > * {
		max-width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}
	
	/* .swiper-carousel.split-carousel {
		padding-bottom: 0;
	}
	.swiper-split .swiper-slide {
		flex-direction: row;
	}
	.swiper-split .swiper-slide-content {
		padding: 0;
	}
	.swiper-split .swiper-slide > img {
		min-height: 0;
	}
	.swiper-carousel.split-carousel .navigation-wrapper {
		width: 50vw;
		right: 0;
	} */
}


.swiper-split .spacer {
	flex: 1 0 0;
}

.calendar-carousel .swiper-slide-inner {
	border: 1px solid #ccc;
}


/* Multi item carousel
	--------------------------------------------- */
.multi-item-carousel.swiper {
	overflow: visible !important;
}

.multi-item-carousel-container {
	overflow: hidden !important;
}

.multi-item-carousel .title-strip {
	width: 100%;
}

.multi-item-carousel .carousel-navigation {
	margin-left: auto;
}

.multi-item-carousel .swiper-slide {
	text-align: center;
	border: solid 1px #ddd;
	height: auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.multi-item-carousel-container .swiper-button-disabled {
	opacity: 0.5;
}

.multi-item-carousel-container .swiper-button-disabled img {
	cursor: initial;
}

.multi-item-carousel .swiper-slide > * {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.multi-item-carousel .swiper-slide h3 {
	/* font-size: 2em; */
	/* font-weight: 400; */
	border: solid red;
	margin-top: 60px;
	margin-bottom: 30px;
}

.multi-item-carousel .swiper-slide p {
	margin-bottom: 70px;
	max-width: min(90%, 400px);
	color: #707070;
	flex-grow: 1;
}
@media screen and (max-width:767px) {
	.multi-item-carousel .swiper-slide p {
		margin-bottom: 30px;
	}
}

.multi-item-carousel .swiper-slide img {
	margin-bottom: 60px;
	width: 100%;
}

.multi-item-carousel .swiper-slide a.btn {
	display: inline-block;
	margin-bottom: 60px;
	/* font-size: 0.8em; */
	border: solid blue;
}

.multi-item-carousel .multi-swiper-scrollbar {
	height: 5px;
	margin-top: 30px;
	background: rgba(0, 0, 0, 0.15); /* Background of the scrollbar */
}

.multi-item-carousel .swiper-scrollbar-drag {
	background: #707070;
	height: 5px;
}


/* Dual carousel
	--------------------------------------------- */
@media screen and (min-width: 48em) {

	.swiper-dual-carousel {
		display: flex;
		justify-content: center;
		align-items: stretch;  /* Ensure both child divs stretch to fill height */
		flex-direction: column;
		flex-direction: row;
	}

	.swiper-dual-carousel > div {
		width: 50%;
	}
}

.swiper-dual-carousel-image .swiper-wrapper {
	align-items: center;
}

.swiper-dual-carousel-image .swiper-inner {
	height: 100%;
}

.swiper-dual-carousel-image .swiper-inner img {
	object-fit: cover;
	height: 100%;
}

.swiper-dual-carousel-text {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
}

.swiper-dual-carousel-text .swiper-slide {
	padding: 70px 0 180px;
}

.swiper-dual-carousel-text .slide-inner {
	padding-left: 15px;
	padding-right: 15px;
}

.swiper-dual-carousel-text .slide-sub-content {
	max-width: 300px;
	margin: 0 auto;
}

.swiper-dual-carousel .carousel-navigation {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 50px;
	text-align: center;
	z-index: 1;
}

.swiper-pagination-bullet {
	width: 9px;  /* Set width for the bullets */
	height: 9px;  /* Set height for the bullets */
	background-color: #fff;  /* Set default background color for the bullets */
	border-radius: 50%;  /* Make the bullets round */
	opacity: 0.6;  /* Optional: makes the bullets slightly transparent */
	transition: opacity 0.3s;  /* Optional: add transition for better effect */
	display: inline-block;
	margin: 0 3px;
}

.swiper-pagination-bullet-active {
	background-color: #3b82f6;  /* Set active bullet color */
	opacity: 1;  /* Ensure the active bullet is fully opaque */
}
@media screen and (max-width:990px) {
	.swiper-dual-carousel-image {
		display:none
	}
	.swiper-dual-carousel-text .slide-sub-content {
		max-width: 700px;
	}
}
@media screen and (max-width:767px) {
	.swiper-dual-carousel-text .swiper-slide {
		padding: 50px 0 140px;
	}
}


/* Calendar carousel
	--------------------------------------------- */

.calendar-carousel .swiper-slide-inner {
	height: 120px;
	padding: 0 10px;
	border: 1px solid #ccc;
}

.calendar-carousel .date-wrapper {
	float: left;
	margin-left: 10px;
	margin-right: 20px;
}

.calendar-carousel .date-wrapper > * {
	display: block;
}

.calendar-carousel .date-wrapper .date {
	/* font-size: 4.7em; */
	border: solid yellow;
	margin-top: -7px;
}

.calendar-carousel .date-wrapper .month-year {
	margin-top: -20px;
	/* font-size: 0.9em; */
	border: solid purple;
}

.calendar-carousel p {
	margin-top: 20px;
	/* font-size: 0.9em; */
	border: solid cyan;
	color: #707070;
}

.calendar-carousel-note {
	color: #b5b5b5;
	margin-top: 15px;
	margin-left: 2px;
	/* font-size: 0.9em; */
	display: block;
	border: solid orange;
}
