:root {
  --tone-off-white: #FAFAFA;
  --tone-light: #d1d1d1;

  --color-text: #707070;
  --color-text-light: #B5B5B5;
  --color-surface: white;
  --color-on-surface: black;

  --color-link: #3B82F6;
  --color-link-hover: #007EC5;

}

html {
  scroll-behavior: smooth;
}

/* Pagination */

  
.pagination, .nav-links {
  a:not(:hover):not(:focus) {
    text-decoration: none;
  }
}
.post-navigation .nav-links {
  display: flex;
  justify-content: center;
  gap: 4em;
  .nav-previous,
  .nav-next {
    flex: 0 1 auto;
  }
  a:not(:hover):not(:focus) {
    color: var(--color-text);
  }
}
.pagination {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 0.75em;
  a:not(:hover):not(:focus) {
    color: var(--color-text-light);
  }
  .current {
    color: var(--color-on-surface);
    font-weight: bold;
  }
  .prev {
    margin-inline-end: 1rem;
  }
  .next {
    margin-inline-start: 1rem;
  }
}
}