/* Icons Grid
 * --------------------------------------------- */
@use "../../abstracts/abstracts" as *;

.icons-grid {

  .text-block h3 {
    max-width: 1000px;
    text-wrap: balance;
  }

  &__wrapper {
    position: relative;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    @media screen and (min-width: $bp-md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $bp-lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    position: relative;
    margin-top: 70px;
    padding: 0 40px 40px;
    transition: all 0.3s ease;
    overflow: visible;
    min-height: min(400px, 50vh);

    @media screen and (min-width: $bp-md) {
      padding: 0 45px 65px;
    }

    &:not(:has(.icons-grid__icon)) {
      padding-top: 40px;

      @media screen and (min-width: $bp-md) {
        padding-top: 65px;
      }
    }
  }

  &__icon {
    position: relative;
    z-index: 2;
    margin-top: -50px;
    margin-bottom: 50px;
    width: 152px;
    height: 152px;
    object-fit: contain;
    display: block;
    border-radius: 16px;
    box-shadow: 10px 10px 24px rgba(0, 0, 0, 0.25);
  }

  &__content {
    position: relative;
    z-index: 2;

    > * {
      transition: color 0.3s ease;
    }

    .icons-grid__item:hover:has(.icons-grid__background) & {
      > * {
        color: #fff;
      }
    }
  }

  &__title {
    margin-bottom: 30px;

    @media screen and (min-width: $bp-md) {
      margin-bottom: 50px;
    }
  }

  &__background {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.5);
    }
    .icons-grid__item:hover & {
      opacity: 1;
    }
  }
}