/* Image Banner
 * --------------------------------------------- */

.swiper-image {
  width: 100%;
  height: calc(100vh - var(--header-height));
  position: relative;
  @supports (height: 100dvh) {
    height: calc(100dvh - var(--header-height));
  }
}

.swiper-image .swiper-slide {
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.swiper-image .swiper-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 100px);
  position: relative;
  z-index: 1;
}

.swiper-image .swiper-inner h1 {
  max-width: 1200px;
}

.swiper-image .swiper-inner p {
  max-width: 32em;
  text-wrap: balance;
}

@media screen and (max-width: 1200px) {
  .swiper-image .swiper-inner p {
    max-width: 100%;
    margin-bottom: 10px;
  }
}

.swiper-image .swiper-slide .overlay {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  .swiper-image .swiper-slide .overlay {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

/* Next Button Styles */

.swiper-image .swiper-button-next-image {
  position: absolute;
  bottom: 50px;
  right: 50px;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
  top: auto;
  width: auto;
  height: auto;
  margin: auto;
  cursor: auto;
  justify-content: unset;
  color: #fff;
  max-width: 90%;

  > p {
    text-align: right;
    text-wrap: balance;
  }
}

.swiper-image .swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
  content: "";
}

.swiper-image .swiper-button-next-image:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 1200px) {
  .swiper-image .swiper-button-next-image {
    bottom: 30px;
    right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .swiper-image .swiper-button-next-image {
    bottom: 20px;
    right: 20px;
  }
}

/* Circle Container */

.circle-container {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 1;
  background-image: url(images/right-arrow-white.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.circle-svg {
  transform: rotate(-90deg);
  width: 100%;
  height: 100%;
}

.circle-background {
  fill: none;
  stroke: #ddd;
  stroke-width: 2;
}

.circle-progress {
  fill: none;
  stroke: #007bff;
  stroke-width: 2;
  stroke-dasharray: 144.513;
  stroke-dashoffset: 144.513;
  transition: stroke-dashoffset 5s linear;
}

// Animation triggers when swiper has active slide
.swiper-image.swiper-initialized .circle-progress-image {
  animation: fillCircle 5s linear infinite;
}

@keyframes fillCircle {
  0% {
    stroke-dashoffset: 144.513;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@media screen and (max-width: 480px) {
  .image-banner p.fs-600 {
    font-size: 21px;
  }
}
