/* Split Video One
 * --------------------------------------------- */

.split-video-one {
  .image-cover {
    min-height: 280px;
  }

  @media screen and (min-width: 768px) {
    display: flex;

    > * {
      width: 50%;
    }

    .image-cover {
      min-height: 382px;
    }
  }
}

/* Split Video One - Themed None
 *  --------------------------------------------- */

.split-video-one--variant {
  > :first-child {
    @media screen and (min-width: 768px) {
      order: 2;
    }
  }
}

.split-video-one:not(.split-video-one--variant) {
  > :last-child {
    padding: 30px 0 0 0;
    @media screen and (min-width: 768px) {
      padding: 0 0 0 6%;
    }
  }
}
