@import "components/_utility-classes.scss";

@import "components/_buttons-links.scss";
@import "components/_video.scss";

@import "components/_image-banner.scss";
@import "components/_text-banner.scss";
@import "components/_text-banner-split.scss";
@import "components/_split-video-one.scss";
@import "components/_split-video-two.scss";
@import "components/_icon-columns.scss";
@import "components/_news-feed.scss";
@import "components/_document-list.scss";
@import "components/_show-hide-accordion.scss";
@import "components/_box-columns.scss";
@import "components/_markets-list.scss";
@import "components/_split-text.scss";
@import "components/_text-block.scss";
@import "components/_tabbed-component.scss";
@import "components/_small-box-columns.scss";
@import "components/_video-box-columns.scss";
@import "components/_waste-hierarchy.scss";
@import "components/_financial-document-picker.scss";
@import "components/_sustainability-development-goals.scss";
@import "components/_contact.scss";
@import "components/_biography.scss";
@import "components/_search.scss";
@import "components/_footer.scss";

/* Component label
    --------------------------------------------- */
.component-label {
  width: 100%;
  background: #3b82f6;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

/* iframe heights
    --------------------------------------------- */
iframe {
  width: 100%;
  border: none;
  overflow: visible;
}
/* Animate.css global timings
    --------------------------------------------- */

.animate__animated {
  --animate-duration: 0.5s;
}

footer .site-branding img {
  width: 174px;
}
