/* Navigation
--------------------------------------------- */

.site-header .site-branding {
	flex-shrink: 0;
	margin: 5px 0;
}


.site-header {
	a {
		font-weight: 500;
		&:not(.uppercase) {
			text-transform: capitalize;
		}
		&:hover {
			color: var(--color-link-hover) !important;
		}
	}
	.current-menu-item a {
		color: var(--color-link);
	}
}

.site-header-wrapper {
	display:flex;
	padding: 10px 20px;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	position: relative;
	@media screen and (min-width: 64rem) {
		flex-direction: row;
		gap: 30px;
	}
}

.site-header .site-branding {
	flex-shrink: 0;

	img {
		display: block;
		width: 174px;
		@media screen and (min-width: 64rem) {
			width: 154px;
		}
		@media screen and (min-width: 68rem) {
			width: 174px;
		}
	}
}


/* Main navigation
--------------------------------------------- */
.main-navigation {
	a {
		display: block;
		text-decoration: none;
		&:not(.blue-text) {
			color: black;
		}
		transition: color 0.3s
	}

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}

	.menu > li {

		border-left: 10px solid white;
		&.current-menu-item,
		&.current-menu-parent {
			border-left-color: var(--color-link);
		}
		> a {
			padding: 5px 15px;
		}
		&.current-menu-item,
		&.current-menu-parent {
			border-bottom-color: var(--color-link);
		}
		@media screen and (min-width: 64rem) {
				border-left: 0;
				border-bottom: 3px solid white;
				> a {
					padding: 15px 0;
				}
				&.current-menu-item,
				&.current-menu-parent {
					border-bottom-color: var(--color-link);
				}
		}
	}
	
}

/* Main navigation - Mega Menu
--------------------------------------------- */
.site-header {
	position: relative;
	border-bottom: solid 1px var(--color-text-light);
}
.main-navigation {
	li:has(.mega-menu) {
		padding-right: 20px;
		> a {
			position: relative;
		}
		> a::after {
			content: "";
			background: url(/images/icon-right-arrow-black.svg) no-repeat center;

			width: 20px;
			height: 1em;
			background-size: 10px 10px;
			// vertical-align: middle;
			display: inline-block;
			transform: rotate(90deg) translateX(20%);
			position: absolute;
			right: -20px;
		}
		> a:hover::after {
			transform: rotate(-90deg) translateX(-20%);
			background-image: url(/images/icon-right-arrow-blue.svg);
		}
	}

	.mega-menu {
		display: none;
		position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 2;
		background-color: #fff;
		border-top: solid 1px var(--color-text-light);
		border-bottom: solid 1px var(--color-text-light);
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
		min-height: 18em;
    // display: flex;
    flex-direction: column;
		width: 100%;


		.sub-menu {
			// flex-direction: column;
			flex-wrap: wrap;
			max-width: 66%;
			gap: 15px;
			margin-top: 20px;

			li {
				padding-left: 20px;
				flex: 0 0 33%;
				> a {
					position: relative;
				}
				> a::before {
					content: "";
					background: url(/images/icon-right-arrow-black.svg) no-repeat center;

					width: 20px;
					height: 1em;
					background-size: 16px 16px;
					vertical-align: middle;
					display: inline-block;
					transform: translateY(20%);
					position: absolute;
					left: -25px;
				}
				&.current-menu-item > a,
				> a:hover {
					&::before {
						background-image: url(/images/icon-right-arrow-blue.svg);
					}
				}
				&.current-menu-item > a {
					color: var(--color-link) !important;
				}
			}
			a {
				color: var(--color-on-surface) !important;
				&:hover,
				&:focus {
					color: var(--color-link-hover) !important;
				}
			}
		}
	}
	.menu-item-24 .mega-menu {
		// display: flex;
	}
	.mega-menu-wrapper {
		@media screen and (min-width: 64rem) {
			display: flex;
			flex-grow: 1;
		}
	}
	.mega-menu-intro {
		border-right: solid 1px var(--color-text-light);
		flex-basis: 25%;
	}
	.mega-menu-content {
		flex-basis: 75%;
	}
}
.main-navigation ul li:hover > .mega-menu,
.main-navigation ul li.focus > .mega-menu  {
	@media screen and (min-width: 64rem) {
		display: flex;
	}
}


/* Main navigation - mobile/hamburger/responsive
--------------------------------------------- */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
.main-navigation {
	width: 100%;
	@media screen and (min-width: 64rem) {
		width: auto;
	}
}
.main-navigation li {
	text-align: center;
	@media screen and (min-width: 64rem) {
		text-align: left;
	}
}
.main-navigation.toggled ul {
	@media screen and (min-width: 64rem) {
		display: flex;
	}
}

.menu-toggle {
	position: absolute;
	right: 30px;
	top: 15px
}

@media screen and (min-width: 64rem) {
  .site-header-wrapper {
    padding: 0 50px;
  }
	.main-navigation ul a {
		font-size: 0.9em;
	}
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
    gap: 30px;
	}
	.mega-menu-intro,
	.mega-menu-content {
		padding: 30px;
	}
}
@media screen and (min-width: 68rem) {
	.main-navigation ul a {
		font-size: 1em;
	}
	.mega-menu-intro,
	.mega-menu-content {
		padding: 50px 70px;
	}
}

/* Utility menu
--------------------------------------------- */
.utility-menu {
	background: black;
	padding: 0 20px;
	position: relative;

	a {
		color: #fff !important;
		transition: color 0.3s;
		font-size: 0.9em;
		&:hover,
		&:focus {
			color: var(--color-text-light) !important;
		}
	}
	.menu {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		gap: 20px;
		justify-content: center;
		li  {
			list-style: none;
		}
		a {
			padding: 10px 0;
			display: block;
		}
		li:has(ul) {
			padding-right: 20px;
			> a {
				position: relative;
			}
			> a::after {
				content: "";
				background: url(/images/icon-right-arrow-white.svg) no-repeat center;

				width: 20px;
				height: 1em;
				background-size: 10px 10px;
				// vertical-align: middle;
				display: inline-block;
				transform: rotate(90deg) translateX(20%);
				position: absolute;
				right: -20px;
			}
			> a:hover::after {
				transform: rotate(-90deg) translateX(-20%);
			}
		}
		
	}
	.sub-menu {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
		padding: 0;
		margin: 0;
		position: absolute;
		top: 100%;
		// right: -999em;
		right: 0;
		z-index: 99999;
		background:#000;
		top: 100%;
		flex-wrap: wrap;
		padding: 30px 20px;
		a {
			padding: 10px 15px;
		}
		li {
			flex-basis: 50%;
		}
		li:hover > ul,
		li.focus > ul {
			left: -15px;
		}
		li {
			padding-left: 25px;
			> a {
				position: relative;
			}
			> a::before {
				content: "";
				background: url(/images/icon-right-arrow-white.svg) no-repeat center;

				width: 20px;
				height: 1em;
				background-size: 16px 16px;
				vertical-align: middle;
				display: inline-block;
				transform: translateY(20%);
				position: absolute;
				left: -25px;
			}
			&.current-menu-item > a,
			> a:hover {
				&::before {
					background-image: url(/images/icon-right-arrow-blue.svg);
				}
			}
			&.current-menu-item > a {
				color: var(--color-link) !important;
			}
		}
	}
	.menu {
		> li > ul,
		> li > ul {
			display: flex;
			left: 0;
			right: 0;
			width:100%;
		}
	}
}
@media screen and (min-width: 64rem) {
	.utility-menu {
    padding: 0 50px;
		.menu {
			justify-content: flex-end;
			li {
				position: relative;
			}
			> li > ul,
			> li > ul {
				right: -15px;
				left: auto;
				width: max(calc(28em + 100px), 100%);
			}
			> li:hover > ul,
			> li.focus > ul {
				right: -15px;
				left: auto;
				width: max(calc(28em + 100px), 100%);
			}
		}
		.sub-menu {
			padding: 20px 50px;
			li {
				flex-basis: 14em;
			}
		}
  }
}


@media screen and (min-width: 64rem) {

	.mega-menu {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s ease-in-out, visibility 0.15s ease-in-out;
	}
	
	.main-navigation ul li:hover > .mega-menu,
	.main-navigation ul li.focus > .mega-menu {
		display: flex;
		opacity: 1;
		visibility: visible;
		transition-delay: 0.1s;
	}
}

.utility-menu .sub-menu {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.2s ease-in-out 0.1s, visibility 0.2s ease-in-out 0.1s;
}

.utility-menu .menu > li:hover > ul,
.utility-menu .menu > li.focus > ul {
	opacity: 1;
	visibility: visible;
	transition-delay: 0.1s;
}



/* Default styles for the button */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 999; /* Ensures it's above other elements */
}

/* Style for the three lines */
.menu-line {
  width: 30px;
  height: 3px;
  background-color: black;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* When the menu is active (e.g., a class is added via JS) */
.toggled .menu-toggle .menu-line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.toggled .menu-toggle .menu-line:nth-child(2) {
  opacity: 0;
}

.toggled .menu-toggle .menu-line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
