

html {
  scroll-behavior: smooth;
}

/* Daves Components */
.text-banner .uppercase {
	text-wrap: balance;
  max-width: min(100%, 700px);
}

/* News Centre - Landing page grids */
.articles-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 40px;
}
[data-clickable-url],
[data-clickable-target] {
  cursor: pointer;
  &:hover,
  &:focus {
    .articles__content {
      background-color: var(--color-brand-contrast);
    }
  }
}
.articles {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  @media screen and (min-width: 48em) {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
}
.articles .post {
  margin-bottom: 0;
  img {
    width: min(100%, 350px);
    align-self: flex-start;
  }
}
.articles--list .post {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media screen and (min-width: 48em) {
    flex-direction: row;
  }
}
.articles--list .articles__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.articles--list .articles__footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: auto; 
  border-bottom: solid 1px var(--color-text-light);
  padding-bottom: 40px;
  @media screen and (min-width: 64em) {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
  }
}
.articles--list * {
  /* margin: 0; */
}
.tag {
  /* border-radius: 1rem;
  padding: 0.15rem 0.5rem;
  background-color: var(--color-link);
  color: var(--color-surface);
  width: fit-content;
  font-size: 0.8rem; */
  color: var(--color-text);
}

.articles--grid, .articles--grid-alt {
  grid-template-columns: repeat(3, 1fr);
  li {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .entry-title {
    font-size: 1rem;
  }
  .page, .post  {
    margin-bottom: 0;
  }
  .post {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
  .light-grey-bg .articles__content {
    padding: 40px;
  }
  .articles__content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
	  transition:background-color 0.3s;
    + img {
      display: block;
      width: 100%;
    }
  
  }
  .articles__cta {
    margin-top: auto;
  }
}
/* 2 columns at 600px */
@media (max-width: 999px) {
  .articles--grid, .articles--grid-alt {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 1 column on mobile */
@media (max-width: 639px) {
  .articles--grid, .articles--grid-alt{
    grid-template-columns: 1fr;
  }
}
.articles--grid {
  li {
    background-color: var(--tone-off-white);
  }
  .post {
  }
  .articles__content {
    + img {
      align-self: flex-end;
    }
  
  }
}
.articles--grid-alt {
  article {
    border: solid 1px var(--color-text-light);
  }
  .articles__cta {
    padding-top: 2rem;
  }
}
/* Video icon */
.articles__block-embed-youtube {
  position: relative;
  aspect-ratio: 16 / 9;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}


/* Pagination */
.pagination, .nav-links {
  a:not(:hover):not(:focus) {
    text-decoration: none;
  }
}
.post-navigation .nav-links {
  display: flex;
  justify-content: center;
  gap: 4em;
  .nav-previous,
  .nav-next {
    flex: 0 1 auto;
  }
  a:not(:hover):not(:focus) {
    color: var(--color-text);
  }
}
.pagination {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  gap: 0.75em;
  a:not(:hover):not(:focus) {
    color: var(--color-text-light);
  }
  .current {
    color: var(--color-link);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-thickness: 4px;
  }
  .prev {
    margin-inline-end: 1rem;
  }
  .next {
    margin-inline-start: 1rem;
  }
}


.single .entry-content {
  p:not([class]), h1:not([class]), h2:not([class]), h3:not([class]), h4:not([class]), h5:not([class]), h6:not([class]) {
    margin: revert;
  }
}
.separator {
  background-color: transparent;
  border-top: var(--border-separator);
}



/* Filter List - Table output */
.file-list {
  table {
    border-collapse: collapse; 
    margin-top: 30px;
    border-top: var(--border-separator);
    width: 100%;
    overflow-x: auto;
    display: block;
  }
  td, th {
    padding: 15px;
    /* vertical-align: top; */
  }
  tr {
    border-bottom: var(--border-separator);
  }
}

/* Filter List - Table output parts */
.file-list__item {
  transition: background 0.3s;
  
  cursor: pointer;
  &:hover,
  &:has(a:focus) {
    background-color: var(--color-brand-contrast);
  }
  
}
.file-list__item-icon {
  img {
    max-width: none;
  }
}
.file-list .file-list__item-group {
  color: var(--color-link);
  font-size: 14px;
  line-height: 34px;
  padding-right: 30px;
}
.file-list__item-title {
  color: var(--color-on-surface);
  font-size: 21px;
  width: 90%;
  padding-right: 30px;
}
.file-list {
  td:not(.file-list__item-title) {
    white-space: nowrap;
  }
}

/* Filter List - Dropdown */
.file-list__dropdown {
  position: relative;
  display: inline-block;
}
.file-list__dropdown-button {
  background-color: var(--color-link);
  color: var(--color-surface);
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  &:after {
    content:"";
    background-image: url(/images/icon-right-arrow-white.svg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position: center center;
    width: 6px;
    height: 10px;
    display: inline-flex;
    margin-left: 8px;
    transform: rotate(90deg);
    transition: transform 0.3s ease;
  }
  &:hover {
    background-color: var(--color-link-hover);
  }
}
.file-list__dropdown-button.open:after {
  transform: rotate(-90deg);
}

.filter-toggle__options {
    background-color: var(--color-link);
    color: var(--color-surface);
    border-radius: 0 5px 5px 5px;
    margin-top: -3px;
    position: absolute;
    z-index: 1000;
    width: fit-content;
    white-space: nowrap;
    min-width: 200px;
    overflow-x: auto;
}
.filter-group {
  > strong {
    display: block;
    padding: 15px 15px 5px 15px;
    font-size: 14px;
    text-transform: uppercase;
  }
  border-bottom: var(--border-separator);
}

/* Checkbox Styles */
.filter-toggle__label {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 0;
  font-size: 14px;
  white-space: nowrap;
  padding: 10px 15px 10px 15px;
  &:first-child {
    padding-top: 15px;
  }
  &:last-child {
    padding-bottom: 15px;
  }
}

.filter-toggle__label:hover {
    cursor: pointer;
    background-color: var(--color-link-hover);
}
.filter-options__checkbox {
  appearance: none;
  display: inline-block;
  margin: 0;
  width: 20px;
  height: 20px;
  border: var(--border-separator);
  background-color: var(--color-surface); 
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.filter-options__checkbox:checked {
  background-color: var(--color-surface); 
  border-color: var(--color-text);
}

.filter-options__checkbox:checked::after,
.filter-options__checkbox:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 2px;
  transform-origin: center;
  background-color: var(--color-text);
}
.filter-options__checkbox:checked::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.filter-options__checkbox:checked::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.file-list__show-all {
  background: none;
  border: none;
  color: var(--color-on-surface);
  cursor: pointer;
  padding: 10px 20px;
  &:hover, &:focus {
    text-decoration: underline;
    text-decoration-thickness: 4px;
  }
}
.file-list__show-all.hidden,
.filter-toggle__options.hidden {
  display: none;
}
@media (max-width: 767px) {
  .file-list {
    .file-list__item-icon {
      padding-top: 15px;
    }
    tbody, tr, th, td {
      display: block;
      width: 100%;
    }
    th, td {
      display: block;
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 0;
    }
    .file-list__item-group {
      line-height: 1;
    }
    .file-list__item-action {
      padding-bottom: 15px;
    }
  }
}
@media (max-width: 999px) {
  .file-list {
    .file-list__item-group {
      min-width: 12em;
      padding-right: 15px;
    }
  }
}




/* News feed (override) */
.feed-items {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat( auto-fit, minmax(24rem, 1fr) );
}
.feed-item {
	flex:1;
	border:1px solid #d1d1d1;
	position: relative;
}


/* Icon columns (override) */

.icon-columns-inner {
	display: grid;
	gap: 30px;
	grid-template-columns: repeat( auto-fit, minmax(18rem, 1fr) );
}
.icon-columns-inner > div {
	// flex:1
}

/* Box Items (override) */
.box-items {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat( auto-fit, minmax(24rem, 1fr) );
}
.small-box-items {
	display: grid;
	gap: 40px 20px;
	grid-template-columns: repeat( auto-fit, minmax(18rem, 1fr) );
}
.box-items--4 {
	/* grid-template-columns: repeat( auto-fit, minmax(32rem, 1fr) ); */
}


/* Markets box   (override) */
.markets-list {
	display: grid;
	gap: 20px;
	margin: 20px;
	grid-template-columns: repeat( auto-fit, minmax(24rem, 1fr) );
}
.market-box {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
  height: 100%;
	min-height: 400px;
  min-width: none;
  max-width: 100%;
  margin-bottom: 0;
  align-items: stretch;
}
.brands {
  list-style: none;
  padding: 0;
  margin: 0;
}
.markets-list h3 {
  min-height: 2.5em;
}


.theme-dark + .theme-dark,
.theme-light + .theme-light,
.theme-none + .theme-none {
  padding-top: 0;
}

.split-video-one ul,
.text-block ul,
.split-text ul {
  padding: 0;
  margin-top: 30px;
  li {
    list-style:none;
    background:url(/images/bullet-tick.svg) no-repeat 0 50%;
    padding-left: 1.65rem;
    color: #707070;
    + li {
      margin-top: 5px;
    }
  }
}
.text-block ul {
  font-size: 18px;
  line-height: 24px;;
}


.search-form {
  display: flex;
  gap: 10px;

  input.zf {
    margin: 0;
  }
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
  &.btn {
    border: 0;
    padding: 13px 20px 15px;
    border-radius: 5px;
  }
}


/* Market box - hover style */
.market-box {
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: background-color 0.3s ease-in;
  h3,
  a {
    transition: color 0.2s ease-in;
  }
  .brands {
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }
  .market-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.3s ease-in;
    z-index: -1;
  }
  &:hover  {
    background-color: #000;
    .brands {
      opacity: 0;
    }
    h3,
    a {
      color: #fff;
    }
    .market-image {
        opacity: 0.5;
    }
  }
  a.hl.arrow::after {
   background-image:url(/images/icon-right-arrow-white.svg);
 }
}