:root {
  --tone-off-white: #F8F8F8;
  --tone-light: #d1d1d1;

  --color-text: #707070;
  --color-text-light: #B5B5B5;
  --color-surface: white;
  --color-on-surface: black;

  --color-link: #3B82F6;
  --color-link-hover: #007EC5;

  --color-brand-contrast: #BFEA78;

  --border-separator: solid 1px var(--tone-light);
  --grid-template-columns: 1fr;
  
}

@media screen and (min-width: 480px) {
  :root {
    --grid-template-columns-small: repeat(auto-fit, minmax(18rem, 1fr));
  }
}
@media screen and (min-width: 600px) {
  :root {
    --grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}