/* Navigation
--------------------------------------------- */
@import 'navigation/navigation';

/* Posts and pages
--------------------------------------------- */
.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}


/* Widgets
--------------------------------------------- */
@import 'widgets/widgets';

/* Media
--------------------------------------------- */
@import 'media/media';

/* Captions
--------------------------------------------- */
@import 'media/captions';

/* Galleries
--------------------------------------------- */
@import 'media/galleries';
