/* Search styles
 *  --------------------------------------------- */

.search-form input.search-field {
  width: 100%;
  min-width: 400px;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .search-form input.search-field {
    min-width: 0;
  }
}

.search-results-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  article {
    padding-bottom: 30px;
    border-bottom: 1px solid #ccc;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    flex-direction: column;
  }
}

.search-form {
  gap: 10px;
  display: flex;
}

.search-form input.zf {
  margin: 0;
}
