:root {
  --tone-off-white: #f8f8f8;
  --tone-light: #d1d1d1;
  --color-text: #707070;
  --color-text-light: #b5b5b5;
  --color-surface: #fff;
  --color-on-surface: #000;
  --color-link: #3b82f6;
  --color-link-hover: #007ec5;
  --color-brand-contrast: #bfea78;
  --border-separator: solid 1px var(--tone-light);
  --grid-template-columns: 1fr;
}

@media screen and (min-width: 480px) {
  :root {
    --grid-template-columns-small: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

@media screen and (min-width: 600px) {
  :root {
    --grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}
