/* Biography page
    --------------------------------------------- */
.biography {
  display: flex;
  gap: 4%;
}
.biography figure {
  margin: 0;
}
.biography p,
.biography ul,
.biography ol {
  margin-bottom: 25px;
}
.biography .wp-block-heading {
  border-top: 1px solid #d1d1d1;
  margin-bottom: 20px;
  padding-top: 20px;
}
.biography .wp-block-heading:first-of-type {
  border-top: 0;
  padding-top: 0;
}
.biography > div {
  flex: 1;
}
.biography .post-thumbnail img {
  width: 100%;
}
@media screen and (max-width: 767px) {
  .biography {
    flex-direction: column;
  }
  .biography .post-thumbnail {
    margin-bottom: 30px;
  }
}
