/* 07 - Box columns
    --------------------------------------------- */
.box-items {
  display: flex;
  gap: 2%;
}
.box-item {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.box-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.box-image {
  height: 260px;
}
.box-content > div {
  min-height: 200px;
}
.box-items:not(:has(.box-item:nth-child(3))) .box-image {
  height: 360px; /* Height when there are only 2 items */
}
@media screen and (max-width: 1023px) {
  .box-items:not(:has(.box-item:nth-child(3))) .box-image {
    height: 260px; /* Height when there are only 2 items */
  }
}
