/* Box columns
 * --------------------------------------------- */
.box-columns {
  &__items {
    grid-template-columns: var(--grid-template-columns);
    gap: 20px;
    display: grid;
  }

  &__item {
    // display: flex;
    // flex-direction: column;
  }

  &__image {
    height: 260px;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    > div {
      @media screen and (min-width: 768px) {
        min-height: 200px;
      }
    }
  }

  &:not(:has(.box-columns__item:nth-child(3))) {
    /* Height when there are only 2 items */
    .box-columns__image {
      @media screen and (min-width: 1024px) {
        height: 360px;
      }
    }
  }
}
