/* Multi item carousel
	--------------------------------------------- */
.multi-item-carousel.swiper {
  overflow: visible !important;
}

.multi-item-carousel-container {
  overflow: hidden !important;
}

.carousel-navigation-inner .multi-swiper-button-prev {
  margin-right: 5px;
}
.carousel-navigation-inner .multi-swiper-button-next {
  margin-left: 5px;
}

.multi-item-carousel .title-strip {
  width: 100%;
}

.multi-item-carousel .carousel-navigation {
  margin-left: auto;
}

.multi-item-carousel .swiper-slide {
  text-align: center;
  border: solid 1px #ddd;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.multi-item-carousel-container .swiper-button-disabled {
  opacity: 0.5;
}

.multi-item-carousel-container .swiper-button-disabled img {
  cursor: initial;
}

.multi-item-carousel .swiper-slide > * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.multi-item-carousel .swiper-slide h3 {
  margin-top: 60px;
  margin-bottom: 30px;
}

.multi-item-carousel .swiper-slide p {
  margin-bottom: 70px;
  max-width: unquote("min(90%, 400px)");
  color: #707070;
  flex-grow: 1;
}

.multi-item-carousel .swiper-slide img {
  margin-bottom: 60px;
  width: 100%;
}

.multi-item-carousel .swiper-slide a.btn {
  display: inline-block;
  margin-bottom: 60px;
}

.multi-item-carousel .multi-swiper-scrollbar {
  height: 5px;
  margin-top: 30px;
  background: rgba(0, 0, 0, 0.15); /* Background of the scrollbar */
}

.multi-item-carousel .swiper-scrollbar-drag {
  background: #707070;
  height: 5px;
}
@media screen and (max-width: 767px) {
  .multi-item-carousel .swiper-slide p {
    margin-bottom: 30px;
  }
  .multi-item-carousel .swiper-slide h3 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .multi-item-carousel .swiper-slide img {
    margin-bottom: 30px;
  }
  .multi-item-carousel .swiper-slide a.btn {
    margin-bottom: 30px;
  }
}
