/* Split carousel
 *	--------------------------------------------- */

.swiper-carousel.split-carousel {
  position: relative;

  /* padding-bottom: 70px; */
}

.swiper-carousel.split-carousel .navigation-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  width: 50%;
  margin-bottom: 30px;
}

.swiper-carousel.split-carousel .navigation-wrapper .carousel-navigation-inner img {
  width: 50px;
  height: 50px;
}

.swiper-carousel.split-carousel .navigation-wrapper .split-swiper-pagination {
  text-align: right;
  margin-right: 16vw;
  width: auto;
  margin-top: 20px;
  float: right;
}

.swiper-carousel.split-carousel .navigation-wrapper .split-swiper-pagination .swiper-pagination-bullet {
  background-color: #000;
  opacity: 1;
  margin-left: 2px;
  margin-right: 2px;
}

.swiper-carousel.split-carousel .navigation-wrapper .split-swiper-pagination .swiper-pagination-bullet-active {
  background-color: #3b82f6;
}

.swiper-split .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-split .swiper-slide > * {
  flex: 3 1 0;
  width: 50%;
}

.swiper-split .swiper-slide-content {
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 120px;
}

.swiper-slide-content-inner {
  max-width: 700px;
  margin-right: 5%;
}

@media screen and (max-width: 767px) {
  .swiper-split .swiper-slide-content {
    padding-right: 0;
  }

  .swiper-carousel.split-carousel {
    position: relative;

    /* padding-bottom: 70px; */
  }

  .swiper-split .swiper-slide {
    flex-direction: column;
  }

  .swiper-split .swiper-slide-content {
    margin-bottom: 40px;
  }

  .swiper-carousel.split-carousel .navigation-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
  }

  .swiper-carousel.split-carousel .split-swiper-pagination {
    display: none;
  }

  .swiper-split .swiper-slide > * {
    text-align: center;
    width: 100%;
  }

  .swiper-split .swiper-slide-content > * {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

.swiper-split .spacer {
  flex: 1 0 0;
}
