.highlight-panel {
  position: relative;
  z-index: 1;

  &__inner {
    padding-left: min(50px, 5%);
    padding-right: min(50px, 5%);
    width: 100%;
  }

  &__sub-image {
    max-width: 140px;
    border-radius: 10px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.2) 100%);
  }
}
