/* 03 - Icon columns
 * --------------------------------------------- */

.icon-columns {
  &__inner {
    display: grid;
    grid-template-columns: var(--grid-template-columns-small);
    gap: 30px;
  }
}
