/* 09 - Markets list
 *  --------------------------------------------- */
.markets-list {
  display: flex;
  margin: 1%;
  gap: 1%;
  flex-wrap: wrap;
  align-items: flex-start;
}

.market-box {
  display: flex;
  flex: 1;
  min-width: 24.25%;
  max-width: 24.25%;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  margin-bottom: 1%;
}

.market-box {
  z-index: 1;
  transition: background-color 0.3s ease-in;
  position: relative;
  overflow: hidden;
}

.markets-list {
  grid-template-columns: var(--grid-template-columns);
  gap: 20px;
  margin: 20px;
  display: grid;
}

.market-box {
  height: 100%;
  min-height: 400px;
  min-width: none;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: stretch;
  max-width: 100%;
  margin-bottom: 0;
  display: flex;
}

.markets-list h3 {
  min-height: 2.5em;
}

.market-box h3,
.market-box a {
  transition: color 0.2s ease-in;
}

.market-box a {
  align-self: center;
  width: fit-content;
  display: inline-block;
}

.market-box .brands {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.market-box .market-image {
  opacity: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease-in;
  position: absolute;
  top: 0;
  left: 0;
}

.market-box:hover,
.market-box:has(a:focus) {
  background-color: #000;
}

.market-box:hover .brands,
.market-box:has(a:focus) .brands {
  opacity: 0;
}

.market-box:hover h3,
.market-box:hover a,
.market-box:has(a:focus) h3,
.market-box:has(a:focus) a {
  color: #fff;
}

.market-box:hover h3.hl.arrow::after,
.market-box:hover a.hl.arrow::after,
.market-box:has(a:focus) h3.hl.arrow::after,
.market-box:has(a:focus) a.hl.arrow::after {
  background-image: url(../images/icon-right-arrow-white.svg);
}

.market-box:hover .market-image,
.market-box:has(a:focus) .market-image {
  opacity: 0.5;
}

.market-box a.hl.arrow::after:hover,
.market-box a.hl.arrow::after:focus {
  background-image: url(../images/icon-right-arrow-white.svg);
}

.brands {
  margin: 0;
  padding: 0;
  list-style: none;
}
