/* 04 - News feed
    --------------------------------------------- */
.title-strip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.feed-items {
  display: flex;
  gap: 2%;
}
.feed-item {
  flex: 1;
  border: 1px solid #d1d1d1;
  position: relative;
}
.feed-image {
  height: 260px;
}
.feed-item a {
  position: absolute;
  bottom: 40px;
  left: 40px;
}
@media screen and (max-width: 1200px) {
  .feed-item a {
    bottom: 30px;
    left: 30px;
  }
}
@media screen and (max-width: 767px) {
  .title-strip {
    flex-direction: column;
    justify-content: center;
  }
  .title-strip h3 {
    text-align: center;
  }
  .feed-item a {
    bottom: 20px;
    left: 20px;
  }
}
