/*
Our History 
*/
html:has(.zf-history) .site-footer {
  @media screen and (min-width: 768px) {
    scroll-snap-align: start;
  }
}

.zf-history {
  --scroll-progress: 1;
  --opacity-start: 0.5;
  // --transition-slow: 1s;
  // --transition-medium: 0.5s;
  --transition-length: 0.25s;
  --transition-delay: 0.01s;
  --transition-delay-slow: 0.5s;
  // --transition-delay: 0.25s;

  // Scroll Snap feature
  @at-root {
    html:has(.zf-history) {
      @media screen and (min-width: 768px) {
        --scroll-padding-top: 0px;
        scroll-snap-type: y mandatory;
        scroll-snap-stop: always;
      }
    }
  }

  &__panel {
    overflow: hidden;
    scroll-snap-align: start;
  }

  // Font sizes
  .h1 {
    font-size: clamp(2.25rem, 9.35vw, 6.375rem);
    line-height: 0.9;
  }

  .h2 {
    font-size: clamp(1.631rem, 6.779vw, 4.621rem);
    line-height: 0.95;
    font-weight: 200;

    &.font-alt {
      font-size: clamp(1.853rem, 7.699vw, 5.25rem);
    }
  }

  .h3 {
    font-size: clamp(1.0625rem, 3.665vw, 2.5rem);
    line-height: 0.9;
  }

  .h4 {
    font-size: clamp(1.0625rem, 2.197vw, 1.498rem);
  }

  .h6 {
    font-size: clamp(1rem, 0.885vw, 1.0625rem);
  }

  .font-alt {
    font-family: "EB Garamond", serif;
    font-style: italic;
    font-weight: 400;
  }

  p {
    line-height: 1.3;
    font-size: clamp(0.875rem, 2vw, 1rem);
  }

  // Fade In - Sort
  .fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .is-visible .fade-in {
    opacity: var(--scroll-progress);
  }

  // Cover Images tweak
  .image-cover {
    background-image: var(--bg-img);
    background-size: auto 90%;
    background-position: center 5vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  // Intro section specific
  &__intro {
    &.image-cover {
      background-image: linear-gradient(to top, black 0%, transparent 20%, transparent 100%), var(--bg-img);
      background-size: 100%, calc(65vw + 500px), auto;
      background-position: right top;

      section:last-child {
        background: linear-gradient(to bottom, transparent 0%, #000 80%);
      }
    }

    &-secondary {
      // justify-content: flex-start !important; // Sort
      // transform: translateY(calc(var(--scroll-progress) * -300px));
      img {
        max-width: 50%;
      }
    }
  }

  // Panels
  &__panel {
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding-top: 20px;
    // padding-bottom: 20px;
  }

  // Nav
  nav {
    display: flex;
    align-items: center;
    z-index: 2;
    justify-self: center;
    position: sticky;
    height: 0;
    top: calc(var(--header-height));

    ul {
      position: relative;
      top: 3em;
      background-color: rgba(255, 255, 255, 0.85);
      backdrop-filter: blur(10px);
      border: solid 1px #707070;
      border-radius: 5px;
      list-style: none;
      padding: 0 1vw;
      margin: 0;
      display: flex;
    }

    a {
      padding: 10px 0.75vw;
      color: #000;
      display: inline-block;
      font-size: clamp(0.882rem, 1vw, 1rem);

      &.is-active,
      &:focus-visible {
        color: #007bff;
      }
    }
  }

  @media screen and (min-width: 600px) {
    &__separator {
      margin-inline: 0.25em;
    }
  }
  @media screen and (max-width: 599px) {
    &__minimise {
      display: none;
    }
  }

  // Year Intro Panels
  &__year-intro {
    border: solid 1px #707070;
    border-radius: 1.9em;
    padding: 10vh 0.35em;
    text-align: center;
    max-width: 1110px;
  }

  // Columns
  &__cols {
    display: flex;
    flex-direction: column;
    gap: 5%;
    @media screen and (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 36.5em);

      &--swap {
        // grid-template-columns: 1fr minmax(36.5em, auto);

        > :first-child {
          order: 2;
        }

        > :last-child {
          padding-left: 18%;
        }
      }
    }
  }

  &__images {
    position: relative;
    @media screen and (max-width: 599px) {
      // transform: scale(0.8);
    }

    img:not(:first-child) {
      position: absolute;
      right: 0;
    }

    + .zf-history__text {
      padding-top: 1em;
      padding-bottom: 2em;
      align-self: center;
    }
  }

  &__text {
    :not(:first-child) {
      margin-top: 1em;
    }
  }

  // Tints and fades
  &__section {
    position: relative;
    z-index: 1;

    &.tint-bg {
      --bg: #ebf8ff;
    }

    &::before {
      content: "";
      display: block;
      background: linear-gradient(to bottom, var(--bg, #000) 0, transparent var(--header-height), transparent 100%);
      position: sticky;
      top: var(--header-height);
      left: 0;
      right: 0;
      height: var(--header-height);
      z-index: 1;
    }

    article.zf-history__panel {
      background-color: var(--bg, #000);

      &:first-of-type {
        background: linear-gradient(to bottom, transparent 0%, var(--bg, #000) 75%);
      }

      &:last-of-type {
        background: linear-gradient(to bottom, var(--bg, #000) 0%, transparent 100%);
      }
    }
  }
}

.zf-history__panel {
  > * {
    opacity: calc(var(--opacity-start) + calc(var(--scroll-progress) * 2));
    transition: opacity var(--transition-length) ease-out;
    transition-delay: var(--transition-delay);
  }

  &:is(article) {
    --opacity-start: -0.5;
  }

  &:is(header) {
    --opacity-start: -0.75;
  }
}

.zf-history__intro-secondary {
  --transition-delay: 0;
  --opacity-start: 0.2;
  opacity: calc(var(--opacity-start) + calc(var(--scroll-progress) * 1));
}

.is-sticky {
  // position: sticky;
  // //   top: 30vh;
  // //   padding-bottom: 6em;

  // top: calc(50vh + var(--header-height) / 2);
  // transform: translateY(calc(-22vh));
  //   transform: translateY(calc( -50% + var(--header-height) / 2 - 40px));
}
// .zf-history__intro {
//   .is-sticky {
//     transform: translateY(calc(var(--scroll-progress) * calc(-1 * var(--header-height))));
//     transition:
//       transform 0.5s ease-in-out,
//       opacity 0.35s ease-in-out;
//     opacity: calc(0.5 + calc(var(--scroll-progress) * 1));
//     transition-delay: 0s;
//     //  transition-delay: 0.5s;
//     //   bottom: 0;
//     //   margin-bottom: var(--header-height);
//     // top: calc(50vh + var(--header-height));
//   }
// }

.zf-history__text {
  text-wrap: balance;
}

// Images
.zf-history__images {
  img {
    transition: transform 0.5s ease-in-out;
    transition-delay: 0.01s;
    will-change: transform;
  }
}

.zf-history__panel {
  .zf-history__images {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;

    &:not(:has(img + img)) {
      text-align: center;
    }
  }

  img {
    &:first-child {
      position: relative;
    }
    --invert-rotate: var(--invert-rotate, var(--invert-all, -1));
    --invert-move: var(--invert-move, var(--invert-all, -1));

    --transition-rotate: rotate(calc(0deg + var(--scroll-progress) * calc(4deg * var(--invert, -1))));
    --transition-move: translate(calc(var(--scroll-progress) * calc(5% * var(--invert, -1))), calc(var(--scroll-progress) * calc(10% * var(--invert, -1))));
    // transform: rotate(calc(0deg + var(--scroll-progress) * -10deg)) translate(calc(var(--scroll-progress) * -20px), calc(var(--scroll-progress) * -80px)) scale(calc(1 + var(--scroll-progress) * 0.125));
    // transform: rotate(calc(0deg + var(--scroll-progress) * 15deg)) translateX(calc(var(--scroll-progress) * 20px));
    // transform: var(--transition-fan-left) var(--transition-up-left);
    // transform: rotate(calc(0deg + var(--scroll-progress) * 5deg)) translate(calc(var(--scroll-progress) * -20px), calc(var(--scroll-progress) * -80px)) scale(calc(1 + var(--scroll-progress) * 0.125));
    // transform: translateX(calc(var(--scroll-progress) * -20px));
    // transform: rotate(calc(0deg + var(--scroll-progress) * 15deg)) translateX(calc(var(--scroll-progress) * 20px));
  }
}

#years-1920s {
  .zf-history__panel.is-visible {
    &:nth-of-type(1) {
      img {
        &:first-child {
          transform: var(--transition-rotate) var(--transition-move);
          left: 10%;
          max-width: 60vw;
          filter: drop-shadow(2px 3px 3px #999);
        }

        &:nth-child(2) {
          left: 45%;
          scale: 0.85;
          bottom: max(-8vw, -60px);
          max-width: 50vw;
          transform: var(--transition-rotate) var(--transition-move);
          --invert: 0.5;
          filter: drop-shadow(0 1px 5px #999);
        }

        &:nth-child(3) {
          left: 78%;
          top: max(-10vw, -40px);
          max-width: 20vw;
          transform: var(--transition-rotate) var(--transition-move);
          --invert: 2.5;
          filter: drop-shadow(-2px 2px 5px #999);
        }
      }
    }

    &:nth-of-type(2) {
      .zf-history__images {
        max-width: 600px;
      }

      img {
        &:first-child {
          transform: var(--transition-rotate) var(--transition-move);
          --invert: 1;
          scale: 0.9;
          margin-top: -20px;
          margin-bottom: 20px;
          filter: drop-shadow(0 1px 5px #999);
        }

        &:nth-child(2) {
          top: max(-10vw, -80px);
          scale: 0.9;
          left: 10%;
          transform: var(--transition-rotate) var(--transition-move);
          --invert: -1.5;
        }

        &:nth-child(3) {
          top: 10%;
          right: max(-8vw, -10%);
          max-width: 50vw;
          filter: drop-shadow(0 1px 5px #333);
        }
      }
    }
  }
}

#years-1940s {
  .zf-history__panel.is-visible {
    .zf-history__images {
      // margin-bottom: 10%;
    }

    &:nth-of-type(1) {
      img {
        &:first-child {
          left: 5%;
          margin-top: 25%;
          transform: var(--transition-rotate) var(--transition-move);
          max-width: min(60vw, 600px);
        }

        &:nth-child(2) {
          top: 5%;
          left: 50%;
          scale: 0.85;
          max-width: 65vw;
          transform: translate(calc(var(--scroll-progress) * -70%), calc(var(--scroll-progress) * -10%));
          transition: transform 1.5s 0.15s ease-in-out;
          filter: drop-shadow(2px 3px 16px #111);
        }

        &:nth-child(3) {
          bottom: 20%;
          right: min(6vw, 5%);
          max-width: 40vw;
          transform: var(--transition-rotate) var(--transition-move);
          --invert: 1;
          filter: drop-shadow(2px 3px 6px #111);
        }
      }
    }

    &:nth-of-type(2) {
      img {
        &:first-child {
          max-width: 70vw;
          top: -10%;
          scale: 0.85;
          transform: var(--transition-rotate) var(--transition-move);
          margin-bottom: 20%;
          transform-origin: bottom left;
        }

        &:nth-child(2) {
          max-width: 75vw;
          bottom: 10%;
          right: max(-12vw, -10%);
          scale: 0.9;
          transform-origin: bottom right;
          transform: var(--transition-rotate) var(--transition-move);
          --invert: 1;
          filter: drop-shadow(-2px -3px 6px #111);
        }
      }
    }

    &:nth-of-type(3) {
      .zf-history__images {
        max-width: min(500px, 60vw);
      }

      img:first-child {
        left: -10%;
        scale: 0.85;
        max-width: 50vw;
        transform: var(--transition-rotate) var(--transition-move);
      }

      img:nth-child(2) {
        right: -10%;
        bottom: 0;
        scale: 0.8;
        max-width: min(40vw, 300px);
        transform: var(--transition-rotate) var(--transition-move);
        --invert: 1;
        filter: drop-shadow(-2px -3px 5px #000);
      }
    }
  }
}

#years-1960s {
  .zf-history__panel.is-visible {
    &:nth-of-type(1) {
      img {
        &:first-child {
          margin-top: -5%;
          margin-bottom: 2%;
          transform: var(--transition-rotate) var(--transition-move);
          --invert: 0.5;
          transform-origin: right top;
          filter: drop-shadow(2px 3px 6px #666);
          max-width: min(90%, 600px);
        }
      }
    }

    &:nth-of-type(2) {
      img {
        &:first-child {
          max-width: max(300px, 40vw);
          // top: -10%;
          // scale: 0.85;
          transform: var(--transition-rotate) var(--transition-move);
          --invert: -0.75;
          // margin-bottom: 20%;
          transform-origin: top right;
        }
      }
    }
  }
}

#years-1980s {
  .zf-history__panel.is-visible {
    &:nth-of-type(1) {
      img {
        &:first-child {
          max-width: min(90%, 800px);
          transform: var(--transition-rotate) var(--transition-move);
          --invert: -0.75;
          transform-origin: top right;
        }
      }
    }
  }
}

#years-2000s {
  .zf-history__panel.is-visible {
    &:nth-of-type(1) {
      img {
        &:first-child {
          margin-top: -12%;
          margin-bottom: 8%;
          max-width: min(60vw, 800px);
          transform: var(--transition-rotate) var(--transition-move);
          --invert: 0.75;
          transform-origin: top left;
          filter: drop-shadow(2px 3px 6px #666);
        }
      }
    }

    &:nth-of-type(3) {
      img {
        &:first-child {
          max-width: min(90%, 800px);
          transform: var(--transition-rotate) var(--transition-move);
          --invert: 0.75;
          transform-origin: top left;
          filter: drop-shadow(2px 3px 6px #666);
        }
      }
    }
  }
}
/*

#years-2000s {
  .zf-history__panel:nth-of-type(1) {
    img:first-child {
      transform: rotate(calc(-8deg + var(--scroll-progress) * 8deg)) translateX(calc(var(--scroll-progress) * 25% - 25%));
    }
  }
  .zf-history__panel:nth-of-type(2) {
    img:first-child {
      transform: translateX(calc(var(--scroll-progress) * -5% + 5%));
    }
    img:nth-child(2) {
      right: -10%;
      top: -100px;
      transform: rotate(calc(0deg + var(--scroll-progress) * 8deg)) translateX(calc(var(--scroll-progress) * 5%));
    }
  }
  .zf-history__panel:nth-of-type(3) {
    img:first-child {
      transform: rotate(calc(-8deg + var(--scroll-progress) * 8deg)) translateX(calc(var(--scroll-progress) * 25% - 25%));
    }
  }
}

#years-2010s {
  .zf-history__panel:nth-of-type(1) {
    img:first-child {
      transform: rotate(calc(2deg + var(--scroll-progress) * -8deg));
      margin-top: -50px;
    }
    img:nth-child(2) {
      right: -10%;
      bottom: -30%;
      transform: translate(calc(var(--scroll-progress) * -30%), calc(var(--scroll-progress) * -15%));
    }
  }
  .zf-history__panel:nth-of-type(2) {
    img:first-child {
      transform: translateX(calc(var(--scroll-progress) * -10% + 25%));
    }
    img:nth-child(2) {
      left: -10%;
      bottom: -50%;
      transform: translateY(calc(var(--scroll-progress) * -25%));
    }
  }
  .zf-history__panel:nth-of-type(3) {
    img:first-child {
      transform: rotate(calc(-8deg + var(--scroll-progress) * 8deg)) translateX(calc(var(--scroll-progress) * 25% - 25%));
    }
  }
}
*/
#years-2010s {
  .zf-history__panel {
    &:nth-of-type(1) {
    }

    &:nth-of-type(2) {
      img {
        &:first-child {
          transform: var(--transition-rotate) var(--transition-move);
          transform-origin: right top;
        }

        &:nth-child(2) {
          right: -20%;
          bottom: max(-8vw, -80px);
          max-width: 50vw;
          transform: var(--transition-move);
          --invert: 1;
        }
      }
    }

    &:nth-of-type(3) {
      img {
        &:first-child {
          transform: var(--transition-rotate) var(--transition-move);
          --invert: 1;
        }
      }
    }
  }
}

// [data-js-fx="mt"] {
//     border: solid red;
//     > * {
//         margin-top: 0;
//         transform: translateY(0);

//     }
//     &.is-visible {
//         border-color: blue;
//         > * {
//         }
//     }
// }

[data-js-fx="mb"] {
  // margin-bottom: calc(var(--scroll-progress) * -200px);
}

[data-js-fx="mt"] {
  border: solid red;
}

[data-js-fx="up"] {
  // transform: translateY(calc(var(--scroll-progress) * -200px));
  // margin-top: calc(var(--scroll-progress) * -200px);
  //   margin-top: calc(300px - (var(--scroll-progress) * 300px));
}

.zf-history__images {
  position: relative;

  .button {
    cursor: pointer;
    position: absolute;
    width: 0.4vw;
    height: 0.4vw;
    max-width: 8px;
    max-height: 8px;
    border-radius: 50%;
    background-color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
    right: 40%;
    bottom: 15%;
    position: absolute;

    .popup {
      opacity: 0;
      position: absolute;
      top: 100%; // position directly below the .button
      right: 100%; // center horizontally
      // transform: translateX(-50%); // perfect centering
      background-color: rgba(0, 0, 0, 0.65);
      backdrop-filter: blur(10px);
      border: solid 1px #fff;
      padding: 15px;
      color: #fff;
      transition: opacity 0.5s;
      font-size: 14px;
      width: 16em;
    }

    &:hover {
      .popup {
        opacity: 1;
      }

      &::after {
        animation-play-state: paused;
        opacity: 0.2;
      }
    }

    &::after {
      content: "";
      width: 5vw;
      height: 5vw;
      border-radius: 50%;
      border: solid 2px #fff;
      position: absolute;
      max-width: 60px;
      max-height: 60px;
      opacity: 0.85;
      animation: pulse 1.25s infinite ease-in-out;
    }

    &:hover::after {
      border: solid 10px #fff;
    }

    &::after:hover {
      border: solid 10px #fff;
    }
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.5;
  }

  50% {
    transform: scale(1.5);
    opacity: 0.2;
  }
}
