/* Show Hide Forms
--------------------------------------------- */
.show-hide-forms {
  display: flex;
  gap: 50px;
  flex-direction: column;
}

@media screen and (min-width: 48em) {
  .show-hide-forms {
    flex-direction: row;
  }
}

.show-hide-forms > div {
  flex: 1;
}
