/* 15 - Small box columns
    --------------------------------------------- */
.small-box-items {
  display: flex;
  gap: 2%;
}
.small-box-item {
  flex: 1;
}
.small-box-image {
  height: 320px;
}
.small-box-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
