/* 01a - Split video one
    --------------------------------------------- */
.split-video-one {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.split-video-one .half:nth-of-type(1) {
  min-height: 382px;
}
@media screen and (max-width: 767px) {
  .split-video-one .half:nth-of-type(1) {
    min-height: 280px;
  }
}

@media screen and (min-width: 48em) {
  .split-video-one {
    flex-direction: row;
    gap: 6%;
  }
  .split-video-one .half {
    width: 50%;
  }
  .split-video-one .half:nth-of-type(2) {
    width: 44%;
  }
}

/* Split grey
    --------------------------------------------- */
.split-grey {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.split-grey .half:nth-of-type(1) {
  min-height: 450px;
}
.split-grey .half {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 48em) {
  .split-grey {
    flex-direction: row;
  }
  .split-grey .half {
    width: 50%;
  }
}
