/* Sustainability - Development goals
 *  --------------------------------------------- */

.development-goals {
  &__list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    @media screen and (min-width: 767px) {
      grid-template-columns: repeat(4, 1fr);
    }

    img {
      width: 100%;
    }
  }
}
/* Sustainability - Header stats
 * --------------------------------------------- */

.sustainability-stats {
  max-width: 850px;
  align-self: flex-end;
  margin-top: 100px;

  &__heading {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-bottom: 30px !important;
    padding: 10px 0;
    max-width: 850px !important;
  }

  &__items {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }

  &__stat {
    display: flex;
    align-items: flex-start;
    flex: 1;
    gap: 15px;

    img {
      width: 38px;
    }
  }

  @media screen and (max-width: 767px) {
    .sustainability-stats__items {
      p.fs-800 {
        font-size: 28px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 20px;

    &__heading {
      margin-bottom: 20px !important;
    }

    &__items {
      flex-direction: row;
      gap: 30px;
    }

    &__stat {
      flex-direction: column;

      img {
        width: auto;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .page-id-153 .swiper-image {
    height: auto;
  }
}
