/* b2 - Text banner
 *  --------------------------------------------- */
.text-banner .uppercase {
  text-wrap: balance;
  max-width: unquote('min(100%, 900px)');
}

.text-banner:not(:has(+ .text-banner-split)) {
  border-bottom: 1px solid #d1d1d1;
}
