@use '../../abstracts/abstracts' as *;

body {
  background: #eee;
  font-family: Manrope, serif;
  font-optical-sizing: auto;
  font-style: normal;
  max-width: 2560px;
  margin: 0 auto;
}

#page {
  background: $color__background-screen;
}
