// Breakpoints
$bp-md: 48rem;
$bp-lg: 64rem;
$bp-xl: 75rem;

// Max-width breakpoints (for use with max-width media queries)
$bp-upto-md: calc($bp-md - 0.01rem);
$bp-upto-lg: calc($bp-lg - 0.01rem);
$bp-upto-xl: calc($bp-xl - 0.01rem);