@use "../../abstracts/abstracts" as *;

body {
  background: #eee;
  font-optical-sizing: auto;
  font-style: normal;
}

#page {
  max-width: 2560px;
  margin: 0 auto;
  background: $color__background-screen;
}
